@media screen and (max-width: 600px) {
  header nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  } 
  .header-title h1 {
    width: 95%;
    margin: auto;
    font-size: 34px;
  }

  .header-title p {
    width: 90%;
    margin: auto;
    font-size: 18px;
  }

  .choose-us ul {
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    margin: auto;
  }

  .team-description-wrapper{
    width: 70%;
  }

  .about-us {
    width: 80%;
  }

  .team-description ul {
    gap: 4rem;
  }

  .team-description ul li img {
    width: 100%;
    height: auto;
  }

}
