*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #EEEEEE;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0;
}

.frame {
  width: 25%;
  border: 8px solid black;
  background-color: white;
  box-shadow: 3px 5px 4px rgba(0,0,0,0.2);
  height: 500px;
  padding: 1rem;
  align-content: center;
  position: relative;
}

.frame img {
  width: 100%;
  object-fit: contain;
}

.frame .title {
  position: absolute;
  bottom: 10px;
  color: gray;
}
